html,body,p{
    padding:0px 0px;
    margin: 0px 0px;
}
canvas{
    border-right: 1px solid #000000;
    cursor: cell;
}
.canvas-title{
    text-align: center;
}
.canvas-box{
    position: relative;
    width: 800px;
    height: 500px;
    margin: auto;
    border: 1px solid #000000;
}
.canvas-box .control-panel{
    position: absolute;
    width: 260px;
    top:20px;
    right: 20px;
}
.screen-ope{
    text-align: center;
    padding:20px 0px;
}
.screen-ope a{
    color:#ff0000;
    font-size:25px;
}
.section-img{
    text-align: center;
}
