html,body{
    padding:0px 0px;
    margin: 0px 0px;
}
canvas{
    background-color: #000000;
}
.canvas-title{
    text-align: center;
}
.canvas-box{
    width: 500px;
    height: 500px;
    margin: auto;
}